/* body {

} */

a {
    text-decoration: none;
    color: gainsboro;
}

.logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.logo-img {
    max-width: auto;
    max-height: 70px;
    /* padding: 10px; */
    flex: 1;
    /* align-self: center; */
}

.outer-container {
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: center;
    /* background-color: #1f2937; */
    align-items: center;
    /* flex: 1 0 auto; */
}

.center-container {
    display: flex;
    flex: 0 0 900px;
    align-items: center;
}

.blue-background {
    background-color: #1f2937;
}

.header-1 {
    /* display: flex; */
    justify-content: space-between;
    /* flex: 0 0 900px;
    align-items: center; */
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
    flex: 1 0 auto;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    flex: 0 0 auto;
    margin: 0;
}

/* .container1 {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    justify-content: center;
} */

.second-img {
    max-width: 500px;
    max-height: auto;
}

.container1-1 {
    /* display: flex; */
    /* flex: 0 0 900px; */
    margin-top: 40px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

.container1-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0 0 440px;
    justify-content: center;
}

.button1 {
    transition-duration: 0.4s;
    background-color: #3882f6; 
    color: rgb(255, 255, 255); 
    border: 2px solid #3882f6;
    /* padding: 20px 200px; */
    flex: 0 0 auto;
    width: 150px;
    height: 40px;
    border-radius: 8px;
}

.button1:hover {
    background-color: #ffffff; /* Green */
    color: rgb(0, 0, 0);
    border: white;
}

.container1-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-background {
    background-color: white;
}

.img {
    max-width: 150px;
    max-height: 150px;
    /* flex: 0 0 auto; */
}

.column-container {
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top-product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top-product {
    display: flex;
    flex-direction: column;
    flex: 0 1 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-padding {
    padding-top: 20px;
}

.bottom-padding {
    padding-bottom: 30px;
}

.information-header-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 0;
}
/* .top-product {
    flex: 0 1 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */

/* .text {
    flex: 0 0 auto;
    width: 100px;
    background-color: red;
} */